:root {
  --background-color: white;
}

body {
  background-color: grey;
}

p {
  font-size: 2rem;
  background-color: green;
  cursor: pointer;
}
h1 {
  color: red;
  background-color: var(--background-color);
}


p:hover {
  background-color: red;
  transition: background-color 0.2s;
}

input {
  background-color: var(--background-color)
  

}
.input:focus {
  outline-color: chartreuse;
  background-color: aqua;
  outline: 2px solid red
}